{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "singleAttributePerLine": false,
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "<TYPES>",
    "",
    "^(react|react-dom)(/.*)?$",
    "^next(/.*)?$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/shared(/.*)?$",
    "^@/constants(/.*)?$",
    "",
    "^@/types(/.*)?$",
    "^@/utils(/.*)?$",
    "",
    "^@/components(/.*)?$",
    "",
    "^\\.\\.(/.*)?$",
    "^\\./(?!.*\\.css$).*$",
    "",
    "\\.css$"
  ],
  "importOrderParserPlugins": ["typescript", "jsx"],
  "importOrderTypeScriptVersion": "5.8.2"
}
